@font-face {
  font-family: 'ses_fi';
  src:  url('fonts/ses_fi.eot?524ymf');
  src:  url('fonts/ses_fi.eot?524ymf#iefix') format('embedded-opentype'),
    url('fonts/ses_fi.ttf?524ymf') format('truetype'),
    url('fonts/ses_fi.woff?524ymf') format('woff'),
    url('fonts/ses_fi.svg?524ymf#ses_fi') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="fi-"], [class*=" fi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ses_fi' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fi-play:before {
  content: "\e921";
}
.fi-btc:before {
  content: "\e91e";
}
.fi-arrow-down:before {
  content: "\e91d";
}
.fi-instagram:before {
  content: "\e911";
}
.fi-arrow:before {
  content: "\e90e";
}
.fi-skype:before {
  content: "\e90a";
}
.fi-checkmark:before {
  content: "\e9b8";
}
.fi-code:before {
  content: "\e9c8";
}
.fi-flag:before {
  content: "\e9de";
}
.fi-gift:before {
  content: "\e9df";
}
.fi-link:before {
  content: "\e9f0";
}
.fi-list:before {
  content: "\e9f1";
}
.fi-lock:before {
  content: "\e9f3";
}
.fi-menu:before {
  content: "\e9f8";
}
.fi-menu-circle:before {
  content: "\e9f9";
}
.fi-pointer-up:before {
  content: "\ea07";
}
.fi-unlink:before {
  content: "\ea23";
}
.fi-download:before {
  content: "\e9d2";
}
.fi-redo:before {
  content: "\ea0c";
}
.fi-user:before {
  content: "\ea26";
}
.fi-magnifier:before {
  content: "\e9f5";
}
.fi-users:before {
  content: "\ea27";
}
.fi-calendar:before {
  content: "\e9b4";
}
.fi-enter-down:before {
  content: "\e9d6";
}
.fi-star:before {
  content: "\ea15";
}
.fi-arrow-left:before {
  content: "\e904";
}
.fi-cross-circle:before {
  content: "\e905";
}
.fi-list1:before {
  content: "\e906";
}
.fi-question-circle:before {
  content: "\e907";
}
.fi-rocket:before {
  content: "\e908";
}
.fi-sync:before {
  content: "\e909";
}
.fi-lang:before {
  content: "\e90b";
}
.fi-paypal:before {
  content: "\e90c";
}
.fi-home:before {
  content: "\e90f";
}
.fi-a05b36a7acde1b6d7ee6fff725:before {
  content: "\e910";
}
.fi-fb:before {
  content: "\e912";
}
.fi-msngr:before {
  content: "\e913";
}
.fi-insta:before {
  content: "\e914";
}
.fi-linked:before {
  content: "\e915";
}
.fi-sky:before {
  content: "\e916";
}
.fi-tw:before {
  content: "\e917";
}
.fi-whatsapp:before {
  content: "\e918";
}
.fi-youtube:before {
  content: "\e91c";
}
.fi-arrow-up:before {
  content: "\e920";
}
.fi-card:before {
  content: "\e91f";
}
.fi-heart:before {
  content: "\e90d";
}
.fi-mail:before {
  content: "\e901";
}
.fi-facebook:before {
  content: "\e063";
}
.fi-twitter:before {
  content: "\e064";
}
.fi-google:before {
  content: "\e065";
}
.fi-tumblr:before {
  content: "\e067";
}
.fi-linkedin:before {
  content: "\e068";
}
.fi-info:before {
  content: "\e91a";
}
.fi-certificate:before {
  content: "\e933";
}
.fi-box:before {
  content: "\e935";
}
.fi-info2:before {
  content: "\e919";
}
.fi-cloud:before {
  content: "\e92d";
}
.fi-info-circle:before {
  content: "\e91b";
}
.fi-document:before {
  content: "\e005";
}
.fi-hourglass:before {
  content: "\e01f";
}
.fi-flag1:before {
  content: "\e900";
}
.fi-document-list:before {
  content: "\e902";
}
.fi-tag:before {
  content: "\e903";
}
.fi-gears:before {
  content: "\e02b";
}
.fi-caution:before {
  content: "\e03d";
}
.fi-lifesaver:before {
  content: "\e054";
}
