h1{
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #fc0000;
	/*background: #37bbe6*/
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px 30px;
	border-radius: 3px;
	background: #000000;
	/*background: #169dca;*/
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}