a {
	color: #048ed0;
}

.container {
    max-width: 100%;
}

.menu__submit {
    margin-top: -12px;
    display: inline-block;
}

.search--home {
    margin: 0 -15px;
}

/*--------------- footer ---------------*/

.footer .bg-white {
	background-color: #33475b;
}

.footer ul {
	margin: 0px;
}

.footer {
	text-align: left;
}

.footer a,
.footer a:hover,
.footer a:focus,
.footer a:active {
    text-decoration: none;
    -webkit-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;
}

.footer li {
    list-style: none;
}

.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-orange,
.bg-black,
.bg-light-blue,
.bg-green,
.bg-gray-30,
.bg-gray-70,
.bg-gray-90,
.bg-fuchsia,
.bg-purple,
.bg-light-purple,
.bg-maroon,
/*.bg-red a,
.bg-yellow a,
.bg-aqua a,
.bg-blue a,
.bg-orange a,
.bg-black a,
.bg-light-blue a,
.bg-green a,
.bg-gray-30 a,
.bg-gray-70 a,
.bg-gray-90 a,
.bg-fuchsia a,
.bg-purple a,
.bg-light-purple a,
.bg-maroon a */

.alert-danger,
.alert-info,
.alert-primary,
.alert-warning,
.alert-success,
.btn-warning,
.btn-warning:hover, .btn-warning:focus, .btn-warning.focus, .btn-warning:active, .btn-warning.active, 
.badge-warning
{
  color: #fff;
}

.bg-gray-90,
.btn-dark,
.badge-dark {
  background-color: #33475b !important;
}

.footer{
	background-color: #33475b;
}

.pt-7 {
    padding-top: 5rem!important;
}

.text-light-blue a:hover,
.text-gray-10 a:hover,
.text-gray-30 a:hover,
.text-gray-70 a:hover,
.text-gray-90 a:hover,
.text-black a:hover {
    color: #048ed0!important;
}

.text-gray-10, .text-gray-10 a {
  color: #e6e9ef !important;
}

.lh-150 {
  line-height: 1.5;
}

.f-150 {
  font-size: 1.5rem;
}

.b-6,
.b-8 {
  font-family: 'Cabin', sans-serif;
}

.b-6 {
    font-weight: 600;
}

.alert,
.badge,
.btn,
.popover {
    border-radius: 2px;

}

.badge{
  font-weight: 400;
}

.alert,
.badge,
.btn-primary,
.btn-secondary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger,
.btn-light,
.btn-dark {
    border: 0;
    box-shadow: 0 1px 1px 0 rgba(111, 111, 111, 0.25);
}

.bg-white,
.bg-gray-05,
.bg-gray-10
{
    color: #33475b;
}

.bg-gray-10 {
  background-color: #e6e9ef !important;
}

.f-250 {
    font-size: 2.5rem;
}

.text-light-blue a:hover,
.text-gray-10 a:hover,
.text-gray-30 a:hover,
.text-gray-70 a:hover,
.text-gray-90 a:hover,
.text-black a:hover {
    color: #048ed0!important;
}

.text-gray-10, .text-gray-10 a {
  color: #e6e9ef !important;
}