html, body {
    height: 100%;
}

body {
    background-color: #F8F9FB;
}

input, textarea, select, .no-radius, .select2, .select2 span, .modal-content, .panel, pre, .flat, .btn-flat {
    border-radius: 0!important;
}

a {
  color: #048ed0;
}

.navbar-fixed-top {
    vertical-align: middle;
    line-height: 73px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.navbar-fixed-top img {
    height:56px;
    margin: 10px 0 5px 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.navbar-fixed-top.navbar-shrink img {
    height:40px;
    margin: 5px 0 2px 0;
}

.navbar-fixed-top.navbar-shrink {
    line-height: 49px;
}

.bg-white {
    background-color: #ffffff !important;
    color: #3A3A3A !important;
}

.navbar {
    background: #FFFFFF;
    border-bottom: #E9ECF1 solid 1px;

}

.navbar .btn {
    padding:5px 30px;
}

.top {
    margin-top: 103px;
}

.nav-buttons {
    vertical-align: middle;
    text-transform: uppercase;
}

#nav li.active a {
    background-color: #2f3031;
    color: #ffffff;
}

#nav li.active a:hover {
    background-color: #2f3031;
    color: #ffffff;
}

.nav>li>a {
    padding: 0 10px;
}

.nav>li>a:hover {
    background-color: #F7F7F9;
}

.nav .small {
    font-size: 9px;
}


.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.end-nav {
    padding-top:100px;
}

.padding-top-10 {
  padding-top:10px;
}

ul.dropdown-menu {
    border-radius: 0;
    border: 1px solid #e5e5e5;
}

#section-1 {
    line-height: 44px;
    background-color: #ffffff;
    padding-top: 10px;
}

.c-line {
  line-height: inherit !important;
}

#section-1 sup {
  font-size: 12px!important;
  vertical-align: super;
}

#nav sup {
  font-size: 9px!important;
  vertical-align: super;
}

.margin-top-10 {
    margin-top:10px;
}

.margin-top-20 {
    margin-top:20px!important;
    display: block;
}

.margin-top-30 {
    margin-top:30px;
    display: block;
}

.margin-top-40 {
    margin-top:40px;
}

.margin-top-50 {
    margin-top:50px;
}

.margin-top-60 {
    margin-top:60px;
}

.margin-top-70 {
    margin-top:70px;
}

.margin-top-80 {
    margin-top:80px;
}

.margin-top-100 {
    margin-top:100px;
}

.margin-top-200 {
    margin-top:200px;
}

.padding-top-30 {
  padding-top: 30px;
}

.padding-top-50 {
  padding-top: 50px;
}

.padding-top-100 {
  padding-top: 100px;
}

.padding-bottom-50 {
  padding-bottom: 50px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.padding-bottom-100 {
  padding-bottom: 100px;
}

#section-1 .gain-access p {
    color: #a4abbb;
    font-size: 160%;
}

#section-1 .marketing-services p {
    color: #048ed0;
    font-size: 250%;
    font-weight: bold;
}

.btn {
   text-transform: uppercase;
}

 .btn-main {
    padding:15px 40px;
 }

.img-main {
    margin: 25px auto;
}

.img-box {
  padding: 5px;
  border: 1px solid #ddd;
}

#section-1 .covering-media p {
    color: #838498;
    font-size: 175%;
    font-weight: 500;
}


#section-2 {
    background: #048ed0;
    padding: 40px 0px;
    color: #ffffff;
}

.section-2-icon {
    float: left;
    font-size: 26px;
    background-color: #FFFFFF;
    color: #048ed0;
    line-height: 64px;
    border-radius: 50%;
    margin-right: 20px;
    width: 64px;
    height: 64px;
    text-align: center;
}

#section-2 p {
   color: #F1F1F1;
   margin-top:30px;
}

#section-2 a {
    color:#ffffff;
}

.invert-white {
    background-color:#ffffff;
    padding:5px 10px;
    color:#000000;
}

.invert-blue {
    background-color:#048ed0;
    padding:5px 10px;
    color:#ffffff;
}

#section-3 {
    padding: 60px 0px;
    background-color: #ffffff;
}

#section-4 {
    background: #505050;
    padding: 60px 0px;
    color: #ffffff;
}

#section-4 h3 {
    margin: 60px 0 20px;
}

#section-5 {
  padding: 60px 0px;
  border-bottom: 1px solid #f1f1f1;
}

#footer {
    background: #313131;
    padding: 20px 0px;
    color: #b7b7b7;
    border-bottom: 20px solid #292929;
    border-top: 5px solid #048ed0;
}

#footer h1,#footer h2,#footer h3,#footer h4,#footer a, #footer span {
  color: #e1e1e1;
}

.social-icons a{
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    border:2px solid #dfdfdf;
    float: left;
    margin-right: 10px;
    font-size: 18px;
    line-height: 40px;
}

.social-icons .fb:hover{
    background: #46629E;
    color:#ffffff!important;
    border:2px solid #46629E;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.social-icons .tw:hover{
    background: #55ACEE;
    color:#ffffff!important;
    border:2px solid #55ACEE;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.social-icons .gp:hover{
    background: #d34836;
    color:#ffffff!important;
    border:2px solid #d34836;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.skype {
    float: left;
    width: 100%;
    margin-top: 10px;
    line-height: 36px;
}

.skype:hover {
    color:#0BBFF2!important;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.skype:hover i {
    background:#0BBFF2;
    color:#ffffff!important;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.skype i{
    width: 36px;
    height: 36px;
    text-align: center;
    background: #dfdfdf;
    border-radius: 50%;
    display: block;
    float: left;
    margin-right: 5px;
    color: #313131!important;
    font-size: 18px;
    line-height: 36px;
}

#top-bar {
    background: #F7F7F7;
    margin:0 0 30px;
    padding:20px 0;
    border-top: 1px solid #dddddd;
}

#reports .btn {
    text-transform: none;
}

#filter-bar {
    background: #F7F7F7;
    padding:20px 10px;
    margin-bottom:20px;
    border-top: 1px solid #dddddd;
}

#bottom-bar {
    background: #F7F7F7;
    padding: 20px 0;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 30px;
}
.quick-links {
    line-height: 36px;
}

#header span {
    font-size: 12px;
    margin-top: -10px;
    display: block;
    text-decoration: underline;
}

#section-internal {
    margin-bottom:40px;
}


#section-internal h1 {
    margin-bottom:20px;
}

.end-div {
    margin-bottom:60px;
}

.topacc {
    float: right;
    margin-top: -3px;
    display: block;
    margin-right: 100px;
}

.form {
    margin:15px 0;
}

.form-group {
    margin:15px 0;
}

.pagination {
    float:right;
    margin:0;
}
.records {
float: left;
}


.break {
    border-top: 1px solid #dfdfdf;
    margin: 30px 0 10px;
}

.filter {
padding-bottom:5px;
}

.reset {
    float:left;
    margin-bottom: 20px;
}

.limit {
    float: right;
    padding: 6px 5px 0 0;
}

.report input[type=file] {
    width: 147px;
    font-size: 11px;
    margin-top: 7px;
    display: inline-block;
}

.file {
    display: inline-block;
}

.checkbox input[type=checkbox] {
    margin-left: -15px;
    float: left;
    display: block;
}

#extras {
    padding-left: 20px;
}

.extrastitle {
    font-weight: bold;
    font-style: italic;
}

.status {
    width:100px;
}

.extraq {
    display: block;
    width: 85px;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    float: left;
    margin-right: 5px;
    padding: 2px 4px;
}

.extraq:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.checkbox span {
    float: left;
}

a.tip {
    text-decoration: none;
}

.form small {
    color: #048ed0;
    border-bottom: 1px dotted;
}

.online {
    font-size: 10px;
    color: #4cae4c;
}

.offline {
    font-size: 10px;
    color: #c9302c;
}

.agentstatus {
}

.fa-times-circle {
    color: #d9534f;
}

.unread {
    color: #4CAE4C;
}

.read {
    color: #BEBEBE;
}

.table-hover>tbody>tr:hover {
    background-color: #D9EDF7;
}

.read-span {
    padding-left: 10px;
}

.fill {
    margin-top: 40px;
    min-height: 50%;
    height: 50%;
}

.quick-links .label, .alert .label {
    margin-right: 10px;
}

.pagination>li>a.active {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #048ed0;
    border-color: #048ed0;
}

.input-sm {
    font-size: 12px!important;
}

.text-red {
  color: #dd4b39 !important;
}
.text-yellow {
  color: #fd935a !important;
}
.text-aqua {
  color: #00c0ef !important;
}
.text-blue {
  color: #048ed0 !important;
}
.text-black {
  color: #111111 !important;
}
.text-light-blue {
  color: #048ed0 !important;
}
.text-green {
  color: #01ad75 !important;
}
.text-gray {
  color: #d2d6de !important;
}
.text-dark-gray {
  color: #9E9E9E !important;
}
.text-navy {
  color: #001f3f !important;
}
.text-teal {
  color: #39cccc !important;
}
.text-olive {
  color: #3d9970 !important;
}
.text-lime {
  color: #01ff70 !important;
}
.text-orange {
  color: #ff851b !important;
}
.text-fuchsia {
  color: #f012be !important;
}
.text-purple {
  color: #605ca8 !important;
}
.text-maroon {
  color: #d81b60 !important;
}
.link-muted {
  color: #7a869d;
}
.text-white {
  color: #ffffff;
}

.details {
    float: left;
    background-color: #00c0ef;
    color:#ffffff!important;
    padding: 7px;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    text-align: center;
}

.note {
    float: left;
    background-color: #f0ad4e;
    color:#ffffff!important;
    color: #048ed0;
    padding: 7px;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    text-align: center;
}

.danger {
    float: left;
    background-color: #d9534f;
    color:#ffffff!important;
    color: #048ed0;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
}

.details-tip {
    display: inline-block;
}

.details-a {
    margin-right: 5px;
    float: left;
}

.label-gray {
    background-color: #e9ecf1;
    color: #191919!important;
    font-weight: normal!important;
}

.label-white {
    background-color: #ffffff;
    border: 1px solid #dfdfdf;
    color: #484848!important;
}

.big{
    font-size: 80%!important;
}

.bigger{
    font-size: 120%!important;
}


@media screen and (min-width: 960px) {
    .container-fluid {
        margin-right: 20px;
        margin-left: 20px;
    }
}

.box.box-primary {
    border-top-color: #048ed0;
}

.box.box-info {
    border-top-color: #00c0ef;
}

.box.box-warning {
    border-top-color: #fd935a;
}

.box.box-danger {
    border-top-color: #dd4b39;
}

.box.box-solid {
    border-top: 0;
}

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #EBEEF3;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    padding: 10px;
}

.margin-bottom-0 {
    margin-bottom: 0px!important;
}
.margin-bottom-10 {
    margin-bottom: 10px!important;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-bottom-30 {
    margin-bottom: 30px;
}
.margin-bottom-40 {
    margin-bottom: 40px;
}
.margin-bottom-50 {
    margin-bottom: 50px;
}
.margin-bottom-100 {
    margin-bottom: 100px;
}

.margin-right-10 {
  margin-right:10px;
}

.margin-right-20 {
  margin-right:20px;
}

.margin-right-30 {
  margin-right:30px;
}

.margin-right-left-5 {
  margin-right:5px;
  margin-left:5px;
}

.btn-circle {
    border-radius: 50%;
    width: 26px;
    height: 26px;
}

.btn-status {
    width: 80px;
    display: inline-block;
}

.inline {
    display: inline;
}

.refresh {
    background-color: #00c0ef;
    color: #ffffff!important;
    line-height: 26px;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    text-align: center;
    font-size: 14px;
}



.upload-statusbar {
    border: 1px dashed #C1C1C1;
    margin-top: 10px;
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
}

.upload-filename {
    width: 100%;
    height: auto;
    margin: 0 5px 5px 10px;
    color: #807579
}

.upload-progress {
    margin: 0 10px 5px 10px;
    position: relative;
    width: 250px;
    border: 1px solid #ddd;
    padding: 1px;
    border-radius: 3px;
    display: inline-block
}

.upload-bar {
    background-color: #048ed0;
    height: 20px;
    border-radius: 2px;
}
.upload-percent {
    position: absolute;
    display: inline-block;
    top: 3px;
    left: 48%
}

.upload-red {
    background-color: #e4685d;
    display: inline-block;
    color: #fff;
    font-size: 13px;
    padding: 4px 15px;
    vertical-align: top;
    border-radius: 2px;
    cursor: pointer;
    margin: 0 5px;
}
.upload-green {
    background-color: #77b55a;
    display: inline-block;
    color: #fff;
    font-size: 13px;
    padding: 4px 15px;
    vertical-align: top;
    border-radius: 2px;
    cursor: pointer;
    margin: 0 5px;
}



.ajax-upload-dragdrop {
    border: 4px dashed #DADCE3;
    color: #DADCE3;
    text-align: left;
    padding: 100px 20px;
    margin: 40px auto;
    border-radius: 4px;
}


.side-menu {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #00c0ef;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.side-menu ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.side-menu li {
    padding-left: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #f4f4f4;
    margin: 0;
}

.side-menu .side-menu-header {
    padding: 20px 10px;
    border-bottom: 2px solid #f4f4f4;
    color: #2f3031;
    font-size: 18px;
    font-family: arial black;
    letter-spacing: -1px;
}

.side-menu li:last-of-type {
    border-bottom: none;
}

.side-menu li.active a {
    border-top: 0;
    border-left-color: #00c0ef;
    font-weight: 600;
    background: #2f3031;
    color: #f3f3f3;
    
}

.side-menu a {
    position: relative;
    display: block;
    padding: 10px 15px;
    border-left: 4px solid transparent;
    color: #444;
    text-decoration: none;
}

.side-menu-sm a{
  padding: 5px 15px;
}

.side-menu a:hover {
    border-left-color: #777777;
    
}

.side-menu a span {
    display: block;
    font-size: 80%;
    color: #9E9E9E;
    font-weight: normal;
    font-style: italic;
}

.side-menu i {
  margin-right: 10px;
}

.fa-inline {
  display: inline;
}

.order-loading {
    font-size:32px;
    padding: 20px 0;
    color: #EAEAEA;
}

.seoestore-loading {
  width: 50px;
  height: 50px;
}

.changeRead {
    /*cursor: pointer;*/
}

/*
 * Component: Small Box
 * --------------------
 */
.small-box {
  border-radius: 2px;
  position: relative;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.small-box > .inner {
  padding: 10px;
}
.small-box > .small-box-footer {
  position: relative;
  text-align: center;
  padding: 3px 0;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  z-index: 10;
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
.small-box > .small-box-footer:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.15);
}
.small-box h3 {
  font-size: 38px;
  font-weight: bold;
  margin: 0 0 10px 0;
  white-space: nowrap;
  padding: 0;
}
.small-box p {
  font-size: 15px;
}
.small-box p > small {
  display: block;
  color: #f9f9f9;
  font-size: 13px;
  margin-top: 5px;
}
.small-box h3,
.small-box p {
  z-index: 5px;
}
.small-box .icon {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: absolute;
  top: -10px;
  right: 10px;
  z-index: 0;
  font-size: 90px;
  color: rgba(0, 0, 0, 0.15);
}
.small-box:hover {
  text-decoration: none;
  color: #f9f9f9;
}
.small-box:hover .icon {
  font-size: 95px;
}
@media (max-width: 767px) {
  .small-box {
    text-align: center;
  }
  .small-box .icon {
    display: none;
  }
  .small-box p {
    font-size: 12px;
  }
}

.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange,
.bg-fuchsia,
.bg-purple,
.bg-light-purple,
.bg-maroon,
.bg-black,
.bg-red-active,
.bg-yellow-active,
.bg-aqua-active,
.bg-blue-active,
.bg-light-blue-active,
.bg-green-active,
.bg-navy-active,
.bg-teal-active,
.bg-olive-active,
.bg-lime-active,
.bg-orange-active,
.bg-fuchsia-active,
.bg-purple-active,
.bg-maroon-active,
.bg-black-active {
  color: #fff !important;
}
.bg-light-gray {
    background-color: #f8f9fb !important;
    color: #3A3A3A !important;
}
.bg-dark-gray {
    background-color: #2f3031 !important;
    color: #fff !important;
}
.bg-gray {
  color: #fff!important;
  background-color: #9DA0A7 !important;
}
.bg-gray-light {
  background-color: #f7f7f7;
}
.bg-black {
  background-color: #111111 !important;
}
.bg-red,
.alert-danger,
.label-danger {
  background-color: #dd4b39 !important;
}
.bg-yellow {
  background-color: #fd935a !important;
}
.bg-aqua,
.alert-info,
.label-info {
  background-color: #00c0ef !important;
}
.bg-blue {
  background-color: #048ed0 !important;
}
.bg-light-blue,
.alert-primary,
.label-primary {
  background-color: #048ed0 !important;
}
.bg-green,
.alert-success,
.label-success {
  background-color: #01ad75 !important;
}
.bg-navy {
  background-color: #001f3f !important;
}
.bg-teal {
  background-color: #39cccc !important;
}
.bg-olive {
  background-color: #3d9970 !important;
}
.bg-lime {
  background-color: #01ff70 !important;
}
.bg-orange {
  background-color: #ff851b !important;
}
.bg-fuchsia {
  background-color: #f012be !important;
}
.bg-purple {
  background-color: #605ca8 !important;
}
.bg-light-purple {
  background-color: #9895C6 !important;
}
.bg-maroon {
  background-color: #d81b60 !important;
}
.bg-gray-active {
  color: #000;
  background-color: #b5bbc8 !important;
}
.bg-black-active {
  background-color: #000000 !important;
}
.bg-red-active {
  background-color: #d33724 !important;
}
.bg-yellow-active {
  background-color: #db8b0b !important;
}
.bg-aqua-active {
  background-color: #00a7d0 !important;
}
.bg-blue-active {
  background-color: #005384 !important;
}
.bg-light-blue-active {
  background-color: #357ca5 !important;
}
.bg-green-active {
  background-color: #008d4c !important;
}
.bg-navy-active {
  background-color: #001a35 !important;
}
.bg-teal-active {
  background-color: #30bbbb !important;
}
.bg-olive-active {
  background-color: #368763 !important;
}
.bg-lime-active {
  background-color: #00e765 !important;
}
.bg-orange-active {
  background-color: #ff7701 !important;
}
.bg-fuchsia-active {
  background-color: #db0ead !important;
}
.bg-purple-active {
  background-color: #555299 !important;
}
.bg-maroon-active {
  background-color: #ca195a !important;
}

/*
 * Component: Info Box
 * -------------------
 */
.info-box {
  display: block;
  min-height: 52px;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin-bottom: 15px;
}
.info-box small {
  font-size: 14px;
}
.info-box .progress {
  background: rgba(0, 0, 0, 0.2);
  margin: 5px -10px 5px -10px;
  height: 2px;
}
.info-box .progress,
.info-box .progress .progress-bar {
  border-radius: 0;
}
.info-box .progress .progress-bar {
  background: #fff;
}
.info-box-icon {
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  display: block;
  float: left;
  height: 52px;
  width: 52px;
  text-align: center;
  font-size: 24px;
  line-height: 52px;
  background: rgba(0, 0, 0, 0.2);
}
.info-box-icon > img {
  max-width: 100%;
}
.info-box-content {
  padding: 3px 10px;
  margin-left: 52px;
}
.info-box-number {
  display: block;
  font-weight: bold;
  font-size: 18px;
}
.progress-description,
.info-box-text {
  display: block;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.info-box-text {
  text-transform: uppercase;
}
.info-box-more {
  display: block;
}
.progress-description {
  margin: 0;
}

.info-box-md {
  min-height: 64px!important;
}
.info-box-md .info-box-icon {
  height: 64px!important;
  width: 64px!important;
  font-size: 32px!important;
  line-height: 64px!important;
}

.info-box-md .info-box-content {
  margin-left: 64px!important;
}

.info-box-lg {
  min-height: 83px!important;
}
.info-box-lg .info-box-icon {
  height: 83px!important;
  width: 83px!important;
  font-size: 38px!important;
  line-height: 83px!important;
}

.info-box-lg .info-box-content {
  margin-left: 83px!important;
}

.chart-legend {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

@media (max-width: 991px) {
  .chart-legend > li {
    float: left;
    margin-right: 10px;
  }
}

.sales-chart {
  background: #F8F9FB;
  padding: 20px 10px;
  margin-bottom: 5px;
}

.chart-responsive {
    margin-bottom: 19px;
}

.pre-small {
  width: 100px;
  height: 20px;
  padding: 0 2px;
}

/*
Start Ticket
*/
.ticket-msg,
.ticket-text {
  display: block;
}
.ticket-msg {
  margin-bottom: 30px;
}
.ticket-msg:before,
.ticket-msg:after {
  content: " ";
  display: table;
}
.ticket-msg:after {
  clear: both;
}
.ticket-messages,
.ticket-contacts {
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -moz-transition: -moz-transform 0.5s ease-in-out;
  -o-transition: -o-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}
.ticket-text {
  border-radius: 5px;
  position: relative;
  padding: 5px 10px;
  background: #F7F7F9;
  border: 1px solid #F7F7F9;
  margin: 5px 0 0 50px;
  color: #000000;
}
.ticket-text:after,
.ticket-text:before {
  position: absolute;
  right: 100%;
  top: 15px;
  border: solid transparent;
  border-right-color: #F7F7F9;
  content: ' ';
  height: 0;
  width: 0;
  pointer-events: none;
}
.ticket-text:after {
  border-width: 5px;
  margin-top: -5px;
}
.ticket-text:before {
  border-width: 6px;
  margin-top: -6px;
}
.right .ticket-text {
  margin-right: 50px;
  margin-left: 0;
}
.right .ticket-text:after,
.right .ticket-text:before {
  right: auto;
  left: 100%;
  border-right-color: transparent;
  border-left-color: #F7F7F9;
}
.ticket-img {
  border-radius: 50%;
  float: left;
  width: 40px;
  height: 40px;
}
.right .ticket-img {
  float: right;
}
.right .thumb {
  float: right;
}
.ticket-info {
  display: block;
  margin-bottom: 2px;
  font-size: 12px;
}
.ticket-name {
  font-weight: 600;
}
.ticket-timestamp {
  color: #999;
}

.right > .ticket-text {
  background: #F7F7F9;
  border-color: #F7F7F9;
}
.right > .ticket-text:after,
.right > .ticket-text:before {
  border-left-color: #F7F7F9;
}
.thumb {

    font-size: 24px;
    line-height: 24px;
    padding: 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    float: left;
}

/*
End Ticket
*/

.red {
  color: #D9534F;
}

.green {
  color: #5CB85C;
  }

.yellow {
  color: #fd935a;
}


.top-box {
    position: relative;
    border-radius: 2px;
    color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    display: block;
    font-size: 12px;
    padding:10px;
}
a.top-box:hover, a.top-box:visited {
    text-decoration: none;
    color: #fff;
}
.top-box span{
    font-size: 28px;
    font-weight: bold;
}

.circle {
    border-radius: 50%;
    width: 26px;
    height: 26px;
    color: #fff;
    text-align: center;
    line-height: 26px!important;
    font-size: 80%;
    display: inline-block;
}

a.circle{
  line-height: 26px!important;
}

.crcl-lg {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: #fff;
    text-align: center;
    line-height: 40px!important;
    font-size: 140%;
    display: inline-block;
}

.crcl-img {
  width: 160px;
  height: 160px;
  padding: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px!important;
  display: inline-block;
  box-shadow: 0px 1px 2px #f1f1f1;
}

.crcl-img img {
    height: 100px;
}

.price-button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
}

a.no-active {
  color:#333!important;
}

a.no-active:hover, a.no-active:visited, a.no-active:active {
  text-decoration: none!important;
}

.bg-clone {
  background-color: #d2d5dc;
}

a.bg-clone:hover, a.bg-clone:active {
  text-decoration: none!important;
  color: #fff!important;
  background-color: #01ad75!important;
}

a.bg-clone:visited {
  text-decoration: none!important;
  color: #fff!important;
}


/*
 * Component: alert
 * ----------------
 */
.alert {
  border-radius: 3px;
}
.alert h4 {
  font-weight: 600;
}
.alert .icon {
  margin-right: 10px;
}
.alert .close {
  color: #000;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.alert .close:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.alert a {
  color: #fff;
  text-decoration: underline;
}
.alert-success {
  border-color: #008d4c;
}
.alert-danger,
.alert-error {
  border-color: #d73925;
}
.alert-warning {
  border-color: #e08e0b;
}
.alert-info {
  border-color: #00acd6;
}

.alert-success,
.alert-danger,
.alert-error,
.alert-warning,
.alert-info
 {
  color: #fff !important;
}

.btn-non {
    border: 0px;
    padding: 0px;
    background: none;
}

.margin-left-5{
  margin-left: 5px;
}

.margin-left-10{
  margin-left: 10px;
}

.margin-left-20{
  margin-left: 20px;
}

.margin-left-30{
  margin-left: 30px;
}

.margin-left-40{
  margin-left: 40px;
}

.margin-left-50{
  margin-left: 50px;
}

.bold {
  font-weight: bold;
}

.font-11 {
  font-size: 11px!important;
}

.darkClass
{
    background: rgba(0, 0, 0, 0.7);
    z-index: 20;
    height: 100%;
    width: 100%;
    background-repeat:no-repeat;
    background-position:center;
    position:absolute;
    top: 0px;
    left: 0px;
}

.bg-white-85 {
  background: rgba(255, 255, 255, 0.85);
}
.position-relative {
  position: relative
}

#seo-section-1 {
  line-height: 44px;
  padding-top: 90px;
  margin-top: -50px;
  position: relative;
  overflow: hidden;
  border-bottom: 4px solid #969696;
}
.dark-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -9;
}
.seo-banner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: -99;
}
#seo-section-1 .seo-title {
  margin-top: 20px;
  color: #FFF;
  font-size: 350%;
  text-shadow: 0px 1px 1px #000000;
  font-weight: 900;
  letter-spacing: -2px;
}

#seo-section-1 sup {
  font-size: 12px!important;
  vertical-align: super;
  text-shadow: none;
  font-weight: normal;
  letter-spacing: 0px;
}
#seo-section-1 .p2 {
    color: #fff;
    font-size: 175%;
    margin-top: 50px;
    font-weight: 900;
}
#seo-section-1 .p2 mark {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}
#seo-section-1 .p3 {
  color: #3b3e44;
  font-size: 160%;
  margin-top: 50px;
}
#seo-section-1 .p3 mark {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.32);
  font-weight: bold;
  color: #fff;
}

#seo-section-1 .alert {
  line-height: normal;
  margin-top: -30px;
  margin-bottom: 50px;
}

.dropdown-menu>li>a {
  padding: 10px 20px;
}

.padding-left-0 {
  padding-left: 0px!important;
}

.affiliate-info {
  font-size: 21px;
  margin-top: 5px;
}

.text-muted {
  font-weight: normal;
  font-size: 80%;
  color: #9E9E9E;
  font-style: italic;
}

.list-group-unbordered > .list-group-item {
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
}

.display-inline {
  display: inline;
}

.icon-20 {
  width: 20px;
  height: 20px;
}

.code-area {
  border-radius: 0;
  box-shadow: none;
  border-color: #F8F9FB;
  background-color: #F8F9FB !important;
  font-size: 12px;
}

.input-xs {
  height: 22px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
  border-radius: 3px;
}

.offer-dashed {
  border: 1px dashed #95afc6;
  margin-top: 20px;
  padding: 10px;
}

.float-left {
  float: left;
}

.no-uline, .no-uline:hover, .no-uline:visited, .no-uline:focus {
  text-decoration: none;
}

.faq-text {
  margin-left: 35px;
  padding: 15px;
}

.padding-5 {
  padding: 5px;
}

.border-dashed {
  border: 2px dashed #c2c4de;
}

#faq-rtl .panel {
    direction: rtl;
}

#faq-rtl .float-left {
  float: right;
}

#faq-rtl .faq-text {
  margin-left: 0px!important;
  margin-right: 35px;
}

#faq-rtl .faq-text:after,
#faq-rtl .faq-text:before {
  border: none;
}

#faq-icon {
  width: 75px;
  position: fixed;
  bottom: 20px;
  left: 20px;
}


.plan {
  padding: 15px 25px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  background: white;
  background-clip: padding-box;
  border: 2px solid #e5ded6;
  border-color: rgba(0, 0, 0, 0.1);
}

.plan-title {
  margin-bottom: 12px;
  font-size: 24px;
  color: #36bce6;
}

.plan-price {
  margin-bottom: 20px;
  line-height: 1;
  font-size: 28px;
  font-weight: bold;
  color: #fd935a;
}

.plan-unit {
  display: block;
  margin-top: 5px;
  font-size: 16px;
  font-weight: normal;
  color: #333;
}

.plan-features {
  margin: 20px auto 15px;
  padding: 15px 0 0 15px;
  border-top: 1px solid #e5ded6;
}

.plan-feature {
  line-height: 20px;
  font-size: 24px;
  font-weight: 500;
  color: #333;
}
.plan-feature + .plan-feature {
  margin-top: 5px;
}

.plan-feature-unit {
  margin-left: 2px;
  font-size: 16px;
}

.plan-feature-name {
  font-size: 13px;
  font-weight: normal;
  color: #aaa;
}

.plan-highlight {
  margin-top: 0;
  padding-left: 15px;
  padding-right: 15px;
  border: 4px solid #37bbe6;
}
.plan-highlight .plan-button {
  font-size: 18px;
  line-height: 49px;
  background: #37bce5;
  border-color: #3996b3;
  border-color: rgba(0, 0, 0, 0.15);
}

.plan-recommended {
  margin: -15px auto 15px;
  padding-bottom: 2px;
  line-height: 22px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.05);
  background: #37bbe6;
}


.plan-light {
    border-color: #f3f3f3;
}

.plan-highlight-light {
    margin-top: 0;
    padding-left: 15px;
    padding-right: 15px;
    border: 4px solid #fd935a;
}

.p-options li, .p-notes li {
  line-height: 24px;
}

.popover {
  max-width: 100%;
}

/* NAV TABS */
.nav-tabs-custom {
  margin-bottom: 20px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.nav-tabs-custom > .nav-tabs {
  margin: 0;
  border-bottom-color: #f4f4f4;
}
.nav-tabs-custom > .nav-tabs > li {
  border-top: 3px solid transparent;
  margin-bottom: -2px;
  margin-right: 5px;
}
.nav-tabs-custom > .nav-tabs > li > a {
  color: #444;
  border-radius: 0;
  padding: 10px 15px!important;
}
.nav-tabs-custom > .nav-tabs > li > a.text-muted {
  color: #999;
}
.nav-tabs-custom > .nav-tabs > li > a,
.nav-tabs-custom > .nav-tabs > li > a:hover {
  background: transparent;
  margin: 0;
}
.nav-tabs-custom > .nav-tabs > li > a:hover {
  color: #999;
}
.nav-tabs-custom > .nav-tabs > li:not(.active) > a:hover,
.nav-tabs-custom > .nav-tabs > li:not(.active) > a:focus,
.nav-tabs-custom > .nav-tabs > li:not(.active) > a:active {
  border-color: transparent;
}
.nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: #048ed0;
}
.nav-tabs-custom > .nav-tabs > li.active > a,
.nav-tabs-custom > .nav-tabs > li.active:hover > a {
  background-color: #fff;
  color: #444;
}
.nav-tabs-custom > .nav-tabs > li.active > a {
  border-top-color: transparent;
  border-left-color: #f4f4f4;
  border-right-color: #f4f4f4;
}
.nav-tabs-custom > .nav-tabs > li:first-of-type {
  margin-left: 0;
}
.nav-tabs-custom > .nav-tabs > li:first-of-type.active > a {
  border-left-color: transparent;
}
.nav-tabs-custom > .nav-tabs.pull-right {
  float: none !important;
}
.nav-tabs-custom > .nav-tabs.pull-right > li {
  float: right;
}
.nav-tabs-custom > .nav-tabs.pull-right > li:first-of-type {
  margin-right: 0;
}
.nav-tabs-custom > .nav-tabs.pull-right > li:first-of-type > a {
  border-left-width: 1px;
}
.nav-tabs-custom > .nav-tabs.pull-right > li:first-of-type.active > a {
  border-left-color: #f4f4f4;
  border-right-color: transparent;
}
.nav-tabs-custom > .nav-tabs > li.header {
  line-height: 35px;
  padding: 0 10px;
  font-size: 20px;
  color: #444;
}
.nav-tabs-custom > .nav-tabs > li.header > .fa,
.nav-tabs-custom > .nav-tabs > li.header > .glyphicon,
.nav-tabs-custom > .nav-tabs > li.header > .ion {
  margin-right: 5px;
}
.nav-tabs-custom > .tab-content {
  background: #fff;
  padding: 10px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.nav-tabs-custom .dropdown.open > a:active,
.nav-tabs-custom .dropdown.open > a:focus {
  background: transparent;
  color: #999;
}
.nav-tabs-custom.tab-primary > .nav-tabs > li.active {
  border-top-color: #048ed0;
}
.nav-tabs-custom.tab-info > .nav-tabs > li.active {
  border-top-color: #00c0ef;
}
.nav-tabs-custom.tab-danger > .nav-tabs > li.active {
  border-top-color: #dd4b39;
}
.nav-tabs-custom.tab-warning > .nav-tabs > li.active {
  border-top-color: #fd935a;
}
.nav-tabs-custom.tab-success > .nav-tabs > li.active {
  border-top-color: #01ad75;
}
.nav-tabs-custom.tab-default > .nav-tabs > li.active {
  border-top-color: #d2d6de;
}

.text-uper{
  text-transform: uppercase;
}

#service-details{
  margin-top:30px;
  line-height: 24px;
}

#service-details ul {
  list-style: none;
  padding: 0;
}
#service-details ul li {
  padding-left: 1.3em;
  padding-bottom: 8px;
}

#service-details ul ul li{
  padding-left: 2.6em!important;
}
#service-details ul li ul li{
  padding-left: 2.6em!important;
}
#service-details li:before {
  content: "\f00c"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
  color: #fd935a;
}


.bs-wizard {margin-top: 40px;}

/*Form Wizard*/
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #565656;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/


.div-list {
    border-bottom: 1px solid #eee;
    padding: 10px;
}

.padding-0{
  padding: 0px!important;
}

.padding-10{
  padding: 10px!important;
}

.padding-20{
  padding: 20px!important;
}

.alert-buttom{
  position: fixed;
  bottom: 5px;
  left: 5px;
}

.img-gray {
	filter: grayscale(100%);
}


/* -------------------- */

.xm-waggle {
    webkit-animation: xm-waggle 10s ease-in-out 0s infinite;
    transform-origin: 10% 100%;
}

.santa-Claus {
    top: 120px;
    left: -50%;
    background: url(../img/xmas-top.png) no-repeat center center;
    height: 218px;
    z-index: 999;
    cursor: pointer;
}

.newyearimg {
  width: 100%;
  background-color: #505050;
}

/* support_btc */

.img-style{
  border: solid;
  padding: 10px;
  margin-bottom: 20px;
  border-color: #888;
  border: solid 10px #dfdfdf;
  padding: 10px;
  margin-bottom:  20px;
}

/* -------------------- */

.modal-dialog-privet {
    width: 900px;
    margin: 30px auto;
}

.modal-content-privet {
    position: relative;
    background-color: #f2f2f252;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.easter{
  width: 700px;
}

.custom-close{
  background-color: #fff !important;
  margin-top: 75px;
  opacity: 0.8;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.custom-close:hover{
  opacity: 1 !important;
}

#spring-section{
  padding: 60px 0px;
  color: #464646;
  background-image: url(../img/green_land_2.png);
  background-color: #9ee4ef;
  background-repeat: no-repeat;
  background-position-y: 210px;
  height: 700px;
}

 #labor-section{
  padding: 60px 0px;
  color: #464646;
  background-color: #9ee4ef;
  background-repeat: no-repeat;
  background-position-y: 210px;
} 

.line-border {
  border-top: 1px solid #e5ded6;
  margin-top: 20px;
  margin-bottom: 30px;
}

.box-border {
  border: 1px solid #e5ded6;
  padding-bottom: 10px;
  padding-top: 20px;
}

.closex {
    position: relative;
    margin-top: -40px;
    margin-right: -38px;
    border: 5px solid #ffffff;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 3px 2px #d5f5fd;
    float: right;
}

.text-hero {
    font-size: 120%;
    color: #5d5d5d;
    line-height: 175%;
}


.row-center {
  text-align:center;
}

.col-center {
  display:inline-block;
  float:none;
}

.big-char {
    font-size: 64px;
    font-weight: bold;
    padding-left: 10px;
}

.bordered {
    border: 6px solid #f3f3f3;
    padding: 1px;
}

.easy-arrow {
    margin-bottom: -50px;
    margin-right: -25px;
}


#fnl-form{
  border: 6px solid #f3f3f3;
  margin-top:-25px;
  margin-bottom:-25px;
  padding: 15px;
  box-shadow: 0px 3px 10px #99aeb3;
}

#celebrate{
  position: fixed;
  width: 960px;
  left: 100px;
  z-index: 999;
  top: 100px;
}

.big-num {
    font-size: 44px;
    font-weight: bold;
    vertical-align: middle;
}
/* carousel */
.media-carousel 
{
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left 
{
  left: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}
/* Next button  */
.media-carousel .carousel-control.right 
{
  right: -12px !important;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active 
{
  background: #333333;
}
.media-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */
.backgroun-yoga{
	background-color: #5cb85c;
	padding: 7px;
}
.backgroun-yoga1{
	background-image: url("../img/black-white.jpg");
	background-size: auto;
}

.label-lg{
  padding: .3em .6em!important;
  font-size: 85%!important;
}

.moving {
	margin-top: -100px;
}

.icon-finish {
	float: left;
    font-size: 20px;
	margin-right: 20px;
}

.btn-ring {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: auto;
  max-width: 250px;
  margin: 50px auto 30px;
  position: relative;
  padding: 7.5px;
  text-align: center;
}
.btn-ring:before,
.btn-ring:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 100%;
  border: 2px solid #fd935a;
  transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
  box-shadow: inset #fd935a -1px 0 0, inset #fd935a -2px 0 0, inset #fd935a -3px 0 0, inset #fd935a -4px 0 0;
  z-index: 50;
  transition: all .5s ease-in-out;
}
.btn-ring:hover:before {
  transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
}
.btn-ring:after {
  transform: rotate(-170deg);
  -ms-transform: rotate(-170deg);
  -webkit-transform: rotate(-170deg);
}
.btn-ring:hover:after {
  transform: rotate(-175deg);
  -ms-transform: rotate(-175deg);
  -webkit-transform: rotate(-175deg);
}
.btn-ring a,
.btn-ring label,
.btn-ring button,
.btn-ring input[type=button],
.btn-ring input[type=submit] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  z-index: 1000;
  display: block;
  width: 100%;
  min-width: 200px;
  margin: 0 auto;
  padding: .4em .5em .5em .5em;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  font-kerning: auto;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
}

.nxt-offer-img {
    position: fixed;
    z-index: 999;
    left: 10px;
    top: 120px;
}

.cbg-orange{
	background-color: #ec8520 !important;
}
.cbg-purple{
	background-color: #340651 !important;
}
.cbg-red{
	background-color: #fa0000 !important;
}
.black-wall{
	background-image: url(../img/icons_black.png);
}

#btm-offers-btn{
  position: fixed;
  left: 10px;
  bottom: 20px;
}

#btm-offers{
  position: fixed;
  left: 46px;
  bottom: 20px;
  width: 200px;
  height: 100px;
  overflow: hidden;
}